In [1]:
import pandas as pd
import numpy as np

# Les skills (tagged)

In [2]:
skills = set(sorted(pd.read_csv("tagged.txt", header=None)[0]))

In [3]:
import re
def parse_salary(salary):
    
    # Supprime les espaces dans les valeurs de salaires
    
    sal = salary.replace(' ', '')
    
    # PENSER AU NAN
    
    ### if salary == nan
    
    ########### On parse si le salaire est "par an"
    
    if 'par an' in salary:
        if '-' in salary:
            x = re.findall('\d+', sal)
            avg = (int(x[0]) + int(x[1]))/(len(x))
            return [int(x[0]),int(x[1])] # je retourne le tableau avec la fourchette de salaire en int (au lieu d'avg)
        else:
            x = re.findall('\d+', sal)
            return int(x[0])
        
    ########## Sinon on parse si le salaire est "par mois"
    
    elif 'par mois' in salary:
        if '-' in salary:
            x = re.findall('\d+', sal)
            avg = (int(x[0]) + int(x[1]))/(len(x))
            return (avg * 12) 
        else:
            x = re.findall('\d+', sal)
            return (int(x[0]) * 12)
    
    ########## Sinon on parse si le salaire est "par semaine"
    
    elif 'par semaine' in salary:
        if '-' in salary:
            x = re.findall('\d+', sal)
            avg = (int(x[0]) + int(x[1]))/(len(x))
            return (avg * 4 * 12) 
        else:
            x = re.findall('\d+', sal)
            return (int(x[0]) * 4 * 12)
    
    
    ########## Sinon on parse si le salaire est "par jour"
    
    elif 'par jour' in salary:
        if '-' in salary:
            x = re.findall('\d+', sal)
            avg = (int(x[0]) + int(x[1]))/(len(x))
            return (avg * 20 * 12)
        else:
            x = re.findall('\d+', sal)
            return (int(x[0]) * 20 * 12)
    
    ########## Sinon on parse si le salaire est "heure"
    
    elif 'par heure' in salary:
        if '-' in salary:
            x = re.findall('\d+', sal)
            avg = (int(x[0]) + int(x[1]))/(len(x))
            return (avg * 35 * 4 * 12)
        else:
            x = re.findall('\d+', sal)
            return (int(x[0]) * 35 * 4 * 12)

# Data

In [4]:
data = pd.read_json("./BDD_14_10_2019.json", lines=True, encoding='utf8')
data

,Date_de_publication,Descriptif_du_poste,Entreprise,Salaire,Scrapped_job,Scrapped_location,Titre,Type_de_contrat,Ville,_id
0,il y a 4 jours,#JobAlert #Stats #DataScientist #Nantes #Mérie...,SILLIKER - MERIEUX NUTRISCIENCES FRANCE,40 000 € par an,data scientist,Nantes,Data Scientist H/F - BIOFORTIS - CDI - Saint-H...,None,Saint-Herblain (44),{'$oid': '5d9b7361130e0588f823d767'}
1,il y a 4 jours,"A ce titre, vos principales missions sont les ...",Page Personnel,None,data scientist,Nantes,Data Scientist en Pistage H/F,None,Nantes (44),{'$oid': '5d9b7361130e0588f823d768'}
2,il y a 4 jours,LE LEADER FRANCAIS DE LA DATA RECRUTE.Rejoindr...,Umanis,None,data scientist,Nantes,CONSULTANT DATA SCIENCE H/F RENNES,None,Loire-Atlantique,{'$oid': '5d9b7362130e0588f823d769'}
3,il y a 4 jours,Le programme data du groupe Maisons du Monde a...,Maisons du Monde,None,data scientist,Nantes,Data scientist (h/f) - Nantes,None,Vertou (44),{'$oid': '5d9b7363130e0588f823d76a'}
4,il y a 4 jours,"KANDY, basée à Treillières, près de Nantes (44...",KANDY,30 000 € - 40 000 € par an,data scientist,Nantes,Data Scientist H/F,None,Treillières (44),{'$oid': '5d9b7363130e0588f823d76b'}
5,il y a 4 jours,"A compétences égales, le poste est ouvert aux ...",EPSILON-ALCEN,30 000 € - 50 000 € par an,data scientist,Nantes,Ingénieur Data Scientist H/F,None,Nantes (44),{'$oid': '5d9b7364130e0588f823d76c'}
6,il y a 4 jours,"Naval Group, leader européen du naval de défen...",Naval Group,None,data scientist,Nantes,Data Scientist en Pistage H/F,None,Nantes (44),{'$oid': '5d9b7365130e0588f823d76d'}
7,il y a 4 jours,"A ce titre, vos principales missions sont les ...",Page Personnel FR,None,data scientist,Nantes,"Data Scientist en Pistage H/F - Naval Group, l...",None,Nantes (44),{'$oid': '5d9b7366130e0588f823d76e'}
8,il y a 4 jours,THE FRENCH LEADER OF THE DATA RECRUITS.\nJoini...,Umanis,None,data scientist,Nantes,DATA SCIENTIST confirmé H/F NANTES,None,Saint-Herblain (44),{'$oid': '5d9b7367130e0588f823d76f'}
9,il y a 4 jours,Contexte du poste :\nLa donnée vous inspire ? ...,ippon,None,data scientist,Nantes,Consultant Data (h/f),None,Nantes (44),{'$oid': '5d9b7367130e0588f823d770'}
10,,Nous recherchons un consultant Data Engineer p...,CS Group Solutions,None,data scientist,Nantes,Data Engineer / Freelance,None,,{'$oid': '5d9b7368130e0588f823d771'}
11,il y a 4 jours,#JobAlert #Stats #DataScientist #Nantes #Mérie...,SILLIKER - MERIEUX NUTRISCIENCES FRANCE,40 000 € par an,data scientist,Nantes,Data Scientist H/F - BIOFORTIS - CDI - Saint-H...,CDI,Saint-Herblain (44),{'$oid': '5d9b7396ac24ca882fb2d285'}
12,il y a 4 jours,"A ce titre, vos principales missions sont les ...",Page Personnel,None,data scientist,Nantes,Data Scientist en Pistage H/F,CDI,Nantes (44),{'$oid': '5d9b7397ac24ca882fb2d286'}
13,il y a 4 jours,"A compétences égales, le poste est ouvert aux ...",EPSILON-ALCEN,30 000 € - 50 000 € par an,data scientist,Nantes,Ingénieur Data Scientist H/F,CDI,Nantes (44),{'$oid': '5d9b739aac24ca882fb2d287'}
14,il y a 4 jours,"Case Law Analytics, startup nantaise spécialis...",Case Law Analytics,None,data scientist,Nantes,Ingénieur R&D NLP - F/H,"Temps plein, CDI",Nantes (44),{'$oid': '5d9b739eac24ca882fb2d288'}
15,il y a 4 jours,Stage_Consultant Data Scientist (H/F)\n\nDescr...,CGI,None,data scientist,Nantes,Stage_Consultant Data Scientist (H/F),Stage,France,{'$oid': '5d9b739fac24ca882fb2d289'}
16,il y a 4 jours,LE LEADER FRANCAIS DE LA DATA RECRUTE.Rejoindr...,Umanis,None,data scientist,Nantes,DATA SCIENTIST JUNIOR H/F NANTES,Stage,Loire-Atlantique,{'$oid': '5d9b73a0ac24ca882fb2d28a'}
17,il y a 19 jours,Job ref: N/A\nThe Institut Laue-Langevin (ILL)...,Institut Laue-Langevin,None,data scientist,Nantes,Research Scientist (F/M),None,France,{'$oid': '5d9b73a6ac24ca882fb2d28b'}
18,il y a 19 jours,THE FRENCH LEADER OF THE DATA RECRUITS.\nJoini...,Umanis,None,data scientist,Nantes,CONSULTANT DATA SCIENCE H/F RENNES,None,Saint-Herblain (44),{'$oid': '5d9b73a6ac24ca882fb2d28c'}
19,il y a 19 jours,"Je recherche pour l’un de mes clients, grand c...",Almatek,None,data scientist,Nantes,Un développeur python spark + Git sur Nantes /...,"Temps plein, Freelance / Indépendant",Nantes (44),{'$oid': '5d9b73a7ac24ca882fb2d28d'}
20,il y a 19 jours,"Pour notre client du secteur bancaire, nous re...",INTM,None,data scientist,Nantes,Ingénieur de production F/H,CDI,Nantes (44),{'$oid': '5d9b73a8ac24ca882fb2d28e'}
21,il y a 19 jours,"Job Description\n\nAu sein du pôle Operations,...",iAdvize,None,data scientist,Nantes,Développeur Java/Apex (H/F),CDI,Nantes (44),{'$oid': '5d9b73a9ac24ca882fb2d28f'}
22,il y a 19 jours,Job Description\n\nYou will ensure the buildin...,iAdvize,None,data scientist,Nantes,Senior Data Engineer (M/F),CDI,Nantes (44),{'$oid': '5d9b73a9ac24ca882fb2d290'}
23,il y a 19 jours,"DESCRIPTION DE L'OFFRE\nExternatic, c'est le p...",EXTERNATIC,None,data scientist,Nantes,Architecte Data H/F,CDI,Nantes (44),{'$oid': '5d9b73aaac24ca882fb2d291'}
24,il y a 19 jours,Description de l’entreprise\nCapgemini à Nante...,Capgemini,None,data scientist,Nantes,"Consultant Innovation ( data, IA, …)_ Nantes H/F",CDI,Pays de la Loire,{'$oid': '5d9b73abac24ca882fb2d292'}
25,il y a 19 jours,Please note that we can only consider candidat...,The AKKAdemy,None,data scientist,Nantes,Ingénieur Junior Developpement Software (Reloc...,"Temps plein, Autre, CDI",France,{'$oid': '5d9b73acac24ca882fb2d293'}
26,il y a 2 jours,Vous êtes en recherche d’une nouvelle aventure...,NOVA TECHNOLOGY,None,data analyst,Nantes,DATA analyste informatique,None,Nantes (44),{'$oid': '5d9b73bbac24ca882fb2d294'}
27,il y a 2 jours,LE LEADER FRANCAIS DE LA DATA RECRUTE.Rejoindr...,Umanis,None,data analyst,Nantes,Analyste Programmeur Mainframe H/F Vannes /Nantes,None,Loire-Atlantique,{'$oid': '5d9b73bbac24ca882fb2d295'}
28,il y a 2 jours,"Sopra Steria, fort de près de 42 000 collabora...",Sopra Steria,None,data analyst,Nantes,Chef de Projet Expérimenté CDI H/F,None,Loire-Atlantique,{'$oid': '5d9b73bcac24ca882fb2d296'}
29,il y a 2 jours,Descriptif du Poste :\nVous aurez pour mission...,NOVA Technology,None,data analyst,Nantes,DATA ANALYST,CDI,Nantes (44),{'$oid': '5d9b73bdac24ca882fb2d297'}
...,...,...,...,...,...,...,...,...,...,...
13259,il y a 3 jours,Company Overview\nCompany Overview\n\nSAS Inst...,SAS Institute,None,business intelligence,Paris,Account Executive - Financial Sector,1 120 € par mois,Yerres (91),{'$oid': '5da35952ac93ad11eb4e2d21'}
13260,il y a 3 jours,Œuvrant parmi les acteurs les plus prestigieux...,HURRYMAN,None,business intelligence,Paris,Ingénieur en Transformation Technologique (H/F),CDI,Paris (75),{'$oid': '5da3595cac93ad11eb4e2d22'}
13261,il y a 3 jours,Imaginez demain...\n\nDans le cadre de la stra...,Dassault Systèmes,None,business intelligence,Paris,STAGE – Analyste Market & Business Development...,Stage,Vélizy-Villacoublay (78),{'$oid': '5da35961ac93ad11eb4e2d23'}
13262,il y a 3 jours,Mission\nPerfectSight est le premier intégrate...,Perfect Sight,None,business intelligence,Paris,Stage de pré-embauche - Consultant EPM H/F,Stage,Paris (75),{'$oid': '5da35964ac93ad11eb4e2d24'}
13263,il y a 3 jours,"Haier Europe fait partie de Haier Smart Home, ...",Haier,None,business intelligence,Paris,Chef de Produit Senior Lavage (H/F),"Temps plein, CDI",Saint-Denis (93),{'$oid': '5da35967ac93ad11eb4e2d25'}
13264,il y a 3 jours,Notre entreprise est une start-up récemment cr...,La Relève,700 € - 900 € par mois,business intelligence,Paris,Stage - Analyste en intelligence économique et...,Stage,Paris (75),{'$oid': '5da35973ac93ad11eb4e2d26'}
13265,il y a 3 jours,Le contenu du poste est libellé en anglais car...,Sanofi,None,business intelligence,Paris,TM1 Service Manager M/F,CDI,Antony (92),{'$oid': '5da3597fac93ad11eb4e2d27'}
13266,il y a 3 jours,Imaginez demain ...\nAu sein du département R&...,Dassault Systèmes,None,business intelligence,Paris,STAGE - Ingénieur Développement d'une applica...,Stage,Vélizy-Villacoublay (78),{'$oid': '5da3598dac93ad11eb4e2d28'}
13267,il y a 3 jours,Stuart is a leading last mile delivery platfor...,Stuart,None,business intelligence,Paris,Chief Data Officer,Stage,Paris (75),{'$oid': '5da3598eac93ad11eb4e2d29'}
13268,il y a 3 jours,"The successful candidate will be progressive, ...",Amazon EU SARL (FR),None,business intelligence,Paris,Senior Employee Relations Manager,Stage,Paris (75),{'$oid': '5da3598fac93ad11eb4e2d2a'}
13269,il y a 3 jours,Mission\nVous intégrez le département KYC/ECM ...,Société Générale,None,business intelligence,Paris,Stage - Expert de processus-(H/F),Stage,La Défense (92),{'$oid': '5da35990ac93ad11eb4e2d2b'}
13270,il y a 3 jours,Le groupe GEFCO est un leader mondial de la su...,Gefco,None,business intelligence,Paris,Analyste supply chain - V.I.E. (H/F),"Temps plein, CDI",Courbevoie (92),{'$oid': '5da35992ac93ad11eb4e2d2c'}
13271,il y a 3 jours,Imaginez demain ...\n\nL’équipe EXALEAD NETVIB...,Dassault Systèmes,None,business intelligence,Paris,Portfolio Manager R&D EXALEAD,"Temps plein, CDI",Paris (75),{'$oid': '5da35993ac93ad11eb4e2d2d'}
13272,il y a 3 jours,About us\n\nAs one of the world's largest inde...,Rothschild & Co,None,business intelligence,Paris,Gestionnaire Back Office,"Temps plein, CDI",Paris (75),{'$oid': '5da35994ac93ad11eb4e2d2e'}
13273,il y a 1 jour,"Position Description:\nCGI Retail, Luxe & Manu...","CGI Group, Inc.",None,business intelligence,Paris,Consultant Expert Big Data – Data Analytics H/F,CDI,Paris (75),{'$oid': '5da359a3ac93ad11eb4e2d2f'}
13274,il y a 1 jour,"Dans le cadre de notre développement, nous rec...",Robert Walters,None,business intelligence,Paris,Business Developer IT H/F,CDI,Paris (75),{'$oid': '5da359a4ac93ad11eb4e2d30'}
13275,il y a 1 jour,Airbus Defence and Space SAS\nAirbus is a glob...,Airbus,None,business intelligence,Paris,Project Manager Multi Int – Secteur Défense (h/f),CDI,Paris (75),{'$oid': '5da359a6ac93ad11eb4e2d31'}
13276,il y a 1 jour,"Company description:\nFounded in 1977, Eutelsa...",EUTELSAT,None,business intelligence,Paris,INTERNSHIP - Marketing and Sales Database Mana...,Stage,Paris 15e (75),{'$oid': '5da359a7ac93ad11eb4e2d32'}
13277,il y a 1 jour,Rattaché à la Direction des Systèmes d’Informa...,TOMORROW JOBS,None,business intelligence,Paris,CONSULTANT INTERNE / CHEF DE PROJET IT F/H,CDI,Puteaux (92),{'$oid': '5da359a8ac93ad11eb4e2d33'}
13278,il y a 1 jour,Line of Service\nInternal Firm Services\nIndus...,PwC,None,business intelligence,Paris,Chargé de la qualité des données @PwC Levalloi...,CDI,Levallois-Perret (92),{'$oid': '5da359a9ac93ad11eb4e2d34'}
13279,il y a 1 jour,"FRS - DANONE SA,a subsidiary of Danone, is loo...",Danone,None,business intelligence,Paris,Danone IS/IT - IS Treasury Manager,CDI,Saint-Ouen (93),{'$oid': '5da359aaac93ad11eb4e2d35'}
13280,il y a 1 jour,Danone recherche Digital & Process Supply Chai...,Danone,None,business intelligence,Paris,Digital & Process Supply Chain Manager,CDI,Rungis (94),{'$oid': '5da359abac93ad11eb4e2d36'}
13281,il y a 16 jours,Missions Sous l’autorité du Directeur des Syst...,Mairie de FONTENAY-SOUS-BOIS (94),None,business intelligence,Paris,Chef de projet (h/f),CDI,Fontenay-sous-Bois (94),{'$oid': '5da359b9ac93ad11eb4e2d37'}
13282,il y a 16 jours,Description du poste :\nVous dépendrez directe...,Keyrus,None,business intelligence,Paris,Chef de Projet BI H/F (Paris),CDI,Paris (75),{'$oid': '5da359beac93ad11eb4e2d38'}
13283,il y a 10 mois,Rattaché au DAF France vous aurez la responsab...,KEYRUS,None,business intelligence,Paris,Directeur Contrôle de Gestion & ADV F/H,CDI,Levallois-Perret (92),{'$oid': '5da359d3ac93ad11eb4e2d39'}
13284,il y a 10 mois,"About Mixpanel:\nAt Mixpanel, our mission is t...",Mixpanel,None,business intelligence,Paris,Sales Engineer,CDI,Paris (75),{'$oid': '5da359d4ac93ad11eb4e2d3a'}
13285,il y a 10 mois,CCH Tagetik - We understand the complex challe...,Wolters Kluwer,None,business intelligence,Paris,CCH Tagetik - Inside Sales Specialist,CDI,Paris (75),{'$oid': '5da359d5ac93ad11eb4e2d3b'}
13286,il y a 8 mois,"Travailler sur des missions variées, stratégiq...",S&H,None,business intelligence,Paris,STAGE TECHNIQUE HCM TOOLKIT (H/F),"Temps plein, Stage",Paris (75),{'$oid': '5da359e9ac93ad11eb4e2d3c'}
13287,il y a 8 mois,The Moody's Analytics Sales Team is composed o...,Moody's Analytics,None,business intelligence,Paris,Solution Specialist (Pre Sales),"Temps plein, Stage",Paris (75),{'$oid': '5da359ebac93ad11eb4e2d3d'}
13288,il y a 8 mois,Internship/stage Online Assistant MAC - EMEA\n...,Estée Lauder Companies,None,business intelligence,Paris,Internship/stage Online Assistant MAC - EMEA,Stage,Paris (75),{'$oid': '5da359eeac93ad11eb4e2d3e'}

In [5]:
#nombre de lignes avec salaire fixe
salary_without_range = []

for sal in data['Salaire']:
    if (sal != 'None') & ('-' not in sal):
        salary_without_range.append(sal)
        #print(sal)

len(salary_without_range)

761

In [6]:
#data.loc[:,'Descriptif_du_poste', 'Salaire']

In [7]:
#to list

list_data = data.values.tolist()

In [8]:
#prends les colonnes description du poste et les salaires

mydata = [[ligne[3],ligne[1]] for ligne in list_data]
len(mydata)

13289

In [9]:
#filtrer seulement les dannonces qui ont une description et un salaire

filtered = list(filter(lambda x: not (x[0]=="None" or x[1]=="None") , mydata))
len(filtered)

2249

In [10]:
from gensim.utils import tokenize

#je tokenise la colonne description et je soustrait les skills + colonnes salaire, parse_salary et description
skills_extrated = list(map(lambda x: [x[0],parse_salary(x[0]),skills.intersection(set(tokenize(x[1],lowercase=True))), x[1] ], filtered))

# j'enlève les lignes qui ont 0 skills trouvées
skills_extrated  = list(filter(lambda x: len(x[2]) > 0 ,skills_extrated))
print(len(skills_extrated))

# recupère uniquement la colone skills
full_skills_list =list(map(lambda x: x[2], skills_extrated))

pd.DataFrame(skills_extrated)

2112

,0,1,2,3
0,40 000 € par an,40000,"{workflows, r, learning, statistique, shiny, p...",#JobAlert #Stats #DataScientist #Nantes #Mérie...
1,30 000 € - 40 000 € par an,"[30000, 40000]","{ux, r, numpy, learning, pandas, computing, fr...","KANDY, basée à Treillières, près de Nantes (44..."
2,30 000 € - 50 000 € par an,"[30000, 50000]","{r, learning, pandas, html, rnn, c, statistiqu...","A compétences égales, le poste est ouvert aux ..."
3,40 000 € par an,40000,"{r, workflows, learning, statistique, shiny, p...",#JobAlert #Stats #DataScientist #Nantes #Mérie...
4,30 000 € - 50 000 € par an,"[30000, 50000]","{r, learning, pandas, html, rnn, c, statistiqu...","A compétences égales, le poste est ouvert aux ..."
5,30 000 € - 45 000 € par an,"[30000, 45000]","{scrum, scripting, cloud, perl}","Votre Rôle, vos Responsabilités\nNous menons u..."
6,420 € par semaine,20160,"{etl, c, sql, r}",Acteur européen de la transformation numérique...
7,44 000 € par an,44000,"{cloudera, ia, hadoop, spark}",Vous rejoindrez BEWIZYU dans un contexte de fo...
8,32 000 € - 45 000 € par an,"[32000, 45000]","{scrum, cloud, learning, c, agile, javascript,...",Capgemini recrute plusieurs développeurs JAVA ...
9,40 000 € - 50 000 € par an,"[40000, 50000]","{node, autoscaling, cloud, react, aws, javascr...",Seyos est un cabinet de recrutement spécialisé...
10,22 000 € - 28 000 € par an,"[22000, 28000]","{erp, html, c, agile, css}","Éditeur de logiciels, nous développons en inte..."
11,40 000 € - 50 000 € par an,"[40000, 50000]","{arm, network, android, r, microej, mqtt, c}",Profile\nDiplôme: Master en logiciel / électro...
12,2 500 € par mois,30000,"{c, postgre, php, mysql}",Contexte\nDans le cadre du déploiement de l’en...
13,35 000 € par an,35000,"{poo, c, sgbd, php, mysql, agile, python, moe}","Description du poste\nBREIDIC, filiale agile e..."
14,40 000 € par an,40000,"{jquery, hibernate, mvc, js, agile, angular}",Hibernate / Spring / Angular / Java / Agile\nD...
15,35 000 € - 50 000 € par an,"[35000, 50000]","{network, jira, android, r, microej, mqtt, amq...",Master en informatique\n3+ années d’expérience...
16,40 000 € - 55 000 € par an,"[40000, 55000]","{android, r, microej, mqtt, javafx, git, amqp,...",Master en informatique\n5 années d’expérience ...
17,37 000 € - 40 000 € par an,"[37000, 40000]","{javascript, angular, js, agile, framework, vu...",Delia Technologies #LaDevOpsFamily\nDelia Tech...
18,33 000 € - 38 000 € par an,"[33000, 38000]","{node, html, javascript, postgresql, react, fr...",Au sein d’une équipe technique de cinq personn...
19,33 000 € - 40 000 € par an,"[33000, 40000]","{javascript, css, mysql}",Au sein d’une équipe technique de six développ...
20,27 000 € par an,27000,"{jquery, html, javascript, boostrap, framework...",#Informatique #Nantes #JobAlert #Mérieux #Biof...
21,34 000 € - 40 000 € par an,"[34000, 40000]","{scrum, scala, agile}",A la fois cabinet de recrutement et société de...
22,35 000 € - 45 000 € par an,"[35000, 45000]","{kubernetes, devops, symfony}",Monsieur SLOOP est une agence digitale créée e...
23,40 000 € - 50 000 € par an,"[40000, 50000]","{ux, html, crm, php, js, css, etl}","L'entreprise\nEditeur logiciel basé à Nantes, ..."
24,35 000 € - 45 000 € par an,"[35000, 45000]","{javascript, c, angular, agile}","Delia Technologies #LaDevOpsFamily\nDelia, c’e..."
25,35 000 € - 45 000 € par an,"[35000, 45000]","{react, selenium, cloud, php}",Seyos est un cabinet de recrutement spécialisé...
26,35 000 € - 43 000 € par an,"[35000, 43000]","{node, react, git, c, js, agile, javascript, c...","Delia Technologies #LaDevOpsFamily\nDelia, c’e..."
27,35 000 € - 43 000 € par an,"[35000, 43000]","{react, c, js, agile, javascript}","Delia Technologies #LaDevOpsFamily\nDelia, c’e..."
28,40 000 € par an,40000,"{jquery, hibernate, mvc, js, agile, angular}",Hibernate / Spring / Angular / Java / Agile\nD...
29,20 000 € - 40 000 € par an,"[20000, 40000]","{html, cloud, javascript, angularjs, c, scrum,...","Votre Rôle, vos Responsabilités\nNous menons u..."
...,...,...,...,...
2082,600 € - 800 € par mois,8400,"{drupal, debian, wordpress, aws, wget, symfony...","Italic, web studio :\nProducteurs de sites int..."
2083,50 000 € par an,50000,"{node, android, react, flask, js, mongodb, pyt...",Le CRI recrute un.e développeur.se Android et ...
2084,1 200 € par mois,14400,"{nlp, kubernetes, learning, git, bash, js, fra...",Expérience souhaitée : Débutant (0 à 2 ans d'e...
2085,38 000 € - 42 000 € par an,"[38000, 42000]","{cloud, qemu, c, mysql, nodejs, framework, vm,...",Chapelle Tech recherche un développeur C++ pou...
2086,40 000 € - 45 000 € par an,"[40000, 45000]","{webdev, sql}","Rédaction des livrables (SF, fiches de flux, ...."
2087,30 000 € - 35 000 € par an,"[30000, 35000]","{scrum, jquery, html, responsive, drupal, xhtm...",### DESCRIPTION DU POSTE\nIntégré à une équipe...
2088,400 € par semaine,19200,"{laravel, elasticsearch, php, mysql, framework...",PAS DE SOUS-TRAITANCE SVP !! Merci pour votre ...
2089,45 000 € par an,45000,"{r, c, ia, python, django}",Développeur Python Full-Stack\nTYPE D’EMPLOI :...
2090,475 € par semaine,22800,"{redux, html, jira, angular, sass, git, c, agi...",L’un de nos clients dans le secteur Bancaire r...
2091,45 000 € - 60 000 € par an,"[45000, 60000]","{jquery, react, weblogic, js, scrum, devops, o...","Description du poste :\nPOESI, cabinet de cons..."
2092,35 000 € - 45 000 € par an,"[35000, 45000]","{qml, matlab, git, c, agile, framework, python}",MISSIONS ET RESPONSABILITES :\nVous participer...
2093,30 000 € - 50 000 € par an,"[30000, 50000]","{network, laravel, android, symfony, c, php, s...","Acteur de la transformation, TIMMXWARE apporte..."
2094,40 000 € par an,40000,"{html, network, android, symfony, drupal, git,...","Depuis 2002, TIMMXWARE c’est plus de 500 clien..."
2095,40 000 € - 65 000 € par an,"[40000, 65000]","{qliksense, scripting, datastage, r, learning,...",ACT-ON est un cabinet de conseil RH et SIRH in...
2096,1 200 € par mois,14400,"{nlp, r, flask, chatbot, learning, analytics, ...",Tu recherches un stage en #DataScience ?\nTu s...
2097,900 € - 1 200 € par mois,12600,"{pipedrive, crm}",Cette entreprise est une startup fondée par Hu...
2098,1 200 € par mois,14400,"{powerpoint, datastudio, bigquery}",A propos de fifty-five :\nfifty-five accompagn...
2099,43 000 € - 46 000 € par an,"[43000, 46000]",{powerpoint},"Fed Supply, cabinet de recrutement spécialisé,..."
2100,3 500 € - 7 000 € par mois,63000,"{erp, c}",ALTER SI est une jeune startup coopérative don...
2101,90 000 € - 100 000 € par an,"[90000, 100000]",{analytics},Notre Groupe de Conseil et de Services du Numé...
2102,54 000 € par an,54000,"{scrum, cloudera, ml, bdd, learning, scikit, s...",DATAROX\nSociété spécialisée en conseil en Inf...
2103,1 100 € par mois,13200,"{etl, c, warehouse, scrum, python, postgresql,...",La brigade de sapeurs-pompiers de Paris recher...
2104,35 000 € - 45 000 € par an,"[35000, 45000]","{erp, cloud, sap}",SILERON est un cabinet de conseil internationa...
2105,30 000 € - 33 000 € par an,"[30000, 33000]",{sourcing},SOFTEAM Data est l'entité spécialisée en Busin...
2106,40 000 € - 45 000 € par an,"[40000, 45000]","{erp, lumira, shellscript, git, sql, vbscript,...","LEON Recrutement, cabinet de chasse expert IT ..."
2107,1 000 € par mois,12000,"{crm, c, datalake, btob}",EXPLORE est un acteur majeur de la Data Intell...
2108,40 000 € - 60 000 € par an,"[40000, 60000]","{c, trading, r}",02 Sep Ingénieur développeur en Finance de Mar...
2109,45 000 € - 55 000 € par an,"[45000, 55000]","{erp, cloud, sap}",SILERON est un cabinet de conseil internationa...
2110,400 € par jour,96000,"{reportings, etl, scripting, sql}",AMOA Editique/Reporting/BI Editique / Demat / ...
2111,1 900 € - 2 300 € par mois,25200,"{german, motivated}",Description du poste\nDescription du poste\n[F...

In [11]:
# applatissement de tout les skills avec doublons
#pour chaque ligne dans mon tableau full_skills_list parcours et pour chaque ligne parcours les skills et garde skills
skills_flatten = [skill for skills_line in full_skills_list for skill in skills_line]

In [12]:
#compte le nombre d'occurence d'un skill dans toutes les skills détectées
#renvoie un tuple avec le nombre de skills et le nom du skill
skillsByOcc = [(skills_flatten.count(skill), skill) for skill in set(skills_flatten)]

In [13]:
#visualiser l'occurence des skills 
#trier par la première colonne
skillsByOcc = sorted(skillsByOcc, key=lambda l: l[0] , reverse=True)

pd.DataFrame(skillsByOcc).to_csv('skills_by_occurrence.csv')

skillsByOcc

[(821, 'c'),
 (650, 'agile'),
 (595, 'javascript'),
 (451, 'sql'),
 (444, 'php'),
 (422, 'html'),
 (399, 'git'),
 (397, 'css'),
 (363, 'js'),
 (343, 'angular'),
 (314, 'r'),
 (313, 'python'),
 (300, 'scrum'),
 (274, 'framework'),
 (267, 'cloud'),
 (265, 'react'),
 (264, 'mysql'),
 (214, 'symfony'),
 (184, 'devops'),
 (180, 'jenkins'),
 (163, 'postgresql'),
 (159, 'jquery'),
 (153, 'nodejs'),
 (146, 'ux'),
 (146, 'aws'),
 (140, 'node'),
 (137, 'learning'),
 (126, 'crm'),
 (107, 'kubernetes'),
 (107, 'android'),
 (105, 'erp'),
 (103, 'elasticsearch'),
 (103, 'reactjs'),
 (103, 'mvc'),
 (102, 'gitlab'),
 (98, 'oracle'),
 (90, 'jira'),
 (84, 'mongodb'),
 (82, 'bootstrap'),
 (82, 'hibernate'),
 (80, 'github'),
 (80, 'spark'),
 (79, 'typescript'),
 (74, 'bdd'),
 (73, 'angularjs'),
 (71, 'vuejs'),
 (71, 'analytics'),
 (69, 'etl'),
 (69, 'scala'),
 (63, 'nosql'),
 (63, 'wordpress'),
 (63, 'kanban'),
 (62, 'hadoop'),
 (61, 'jee'),
 (58, 'webservices'),
 (53, 'laravel'),
 (50, 'ia'),
 (48, 'graphql'),
 (46, 'ajax'),
 (45, 'redux'),
 (44, 'responsive'),
 (43, 'json'),
 (43, 'sap'),
 (42, 'swift'),
 (41, 'roadmap'),
 (41, 'drupal'),
 (41, 'programming'),
 (39, 'kotlin'),
 (37, 'blockchain'),
 (33, 'uml'),
 (32, 'btob'),
 (30, 'scripting'),
 (30, 'debian'),
 (30, 'django'),
 (29, 'lamp'),
 (28, 'poo'),
 (28, 'sass'),
 (28, 'windev'),
 (27, 'nginx'),
 (27, 'vb'),
 (26, 'statistique'),
 (26, 'versionning'),
 (25, 'tfs'),
 (25, 'sgbd'),
 (25, 'prestashop'),
 (24, 'versioning'),
 (24, 'nlp'),
 (24, 'slack'),
 (23, 'photoshop'),
 (22, 'powerpoint'),
 (22, 'bigdata'),
 (22, 'sourcing'),
 (21, 'bash'),
 (20, 'network'),
 (20, 'dashboards'),
 (19, 'pandas'),
 (19, 'moe'),
 (19, 'springboot'),
 (19, 'devoxx'),
 (18, 'ssrs'),
 (18, 'mining'),
 (18, 'postgre'),
 (18, 'dataviz'),
 (18, 'phpunit'),
 (18, 'reportings'),
 (17, 'intellij'),
 (17, 'javaee'),
 (17, 'postgres'),
 (17, 'powerbi'),
 (16, 'datalake'),
 (16, 'ml'),
 (16, 'cplusplus'),
 (15, 'warehouse'),
 (15, 'webmarketing'),
 (14, 'emailing'),
 (14, 'heroku'),
 (14, 'selenium'),
 (14, 'mvvm'),
 (14, 'chatbot'),
 (14, 'material'),
 (14, 'workflows'),
 (13, 'webdev'),
 (13, 'processing'),
 (13, 'golang'),
 (13, 'grafana'),
 (12, 'cloudera'),
 (12, 'bigquery'),
 (11, 'backbonejs'),
 (11, 'perl'),
 (11, 'hdfs'),
 (11, 'mongo'),
 (11, 'webdesign'),
 (11, 'sqlserver'),
 (11, 'hacking'),
 (11, 'puppet'),
 (10, 'dataflow'),
 (10, 'twig'),
 (10, 'wamp'),
 (10, 'flask'),
 (10, 'mapping'),
 (10, 'basic'),
 (10, 'ubuntu'),
 (10, 'computing'),
 (10, 'phpstorm'),
 (10, 'trading'),
 (10, 'scraping'),
 (10, 'extjs'),
 (10, 'orm'),
 (9, 'twilio'),
 (9, 'scikit'),
 (9, 'webapi'),
 (9, 'illustrator'),
 (9, 'clouds'),
 (9, 'mco'),
 (9, 'gitflow'),
 (9, 'webgl'),
 (9, 'trello'),
 (9, 'plugin'),
 (9, 'sgbdr'),
 (9, 'firmware'),
 (9, 'fromscratch'),
 (9, 'templates'),
 (9, 'openapi'),
 (9, 'clustering'),
 (9, 'embedded'),
 (8, 'tensorflow'),
 (8, 'datawarehouse'),
 (8, 'datamining'),
 (8, 'vm'),
 (8, 'containerisation'),
 (8, 'rspec'),
 (8, 'webservice'),
 (8, 'backoffice'),
 (8, 'svm'),
 (8, 'xhtml'),
 (8, 'dashboard'),
 (7, 'database'),
 (7, 'indesign'),
 (7, 'symphony'),
 (7, 'browserstack'),
 (7, 'ssh'),
 (7, 'wms'),
 (7, 'benchmark'),
 (7, 'arm'),
 (7, 'numpy'),
 (6, 'opengl'),
 (6, 'mqtt'),
 (6, 'joomla'),
 (6, 'rgpd'),
 (6, 'ecmascript'),
 (6, 'jupyter'),
 (6, 'hbase'),
 (6, 'rxjava'),
 (6, 'openstack'),
 (6, 'bpm'),
 (6, 'winform'),
 (6, 'lstm'),
 (6, 'benchmarks'),
 (6, 'boosting'),
 (6, 'rxjs'),
 (6, 'ngrx'),
 (6, 'dotnet'),
 (6, 'cnn'),
 (5, 'toeic'),
 (5, 'german'),
 (5, 'xsl'),
 (5, 'qml'),
 (5, 'pipedrive'),
 (5, 'dao'),
 (5, 'sqoop'),
 (5, 'weblogic'),
 (5, 'xaml'),
 (5, 'requêtage'),
 (5, 'xldeploy'),
 (5, 'shiny'),
 (5, 'keras'),
 (5, 'matplotlib'),
 (5, 'chatbots'),
 (5, 'gentoo'),
 (5, 'amqp'),
 (4, 'matlab'),
 (4, 'switcher'),
 (4, 'webapps'),
 (4, 'nltk'),
 (4, 'cvs'),
 (4, 'dashboarding'),
 (4, 'gpao'),
 (4, 'fpga'),
 (4, 'rubyonrails'),
 (4, 'ggplot'),
 (4, 'soc'),
 (4, 'delphi'),
 (4, 'provisioning'),
 (4, 'pentaho'),
 (4, 'syslog'),
 (4, 'teradata'),
 (4, 'middlewares'),
 (4, 'fedora'),
 (4, 'mentoring'),
 (4, 'vuex'),
 (4, 'rsync'),
 (4, 'seaborn'),
 (4, 'wget'),
 (4, 'databases'),
 (4, 'freebsd'),
 (4, 'openshift'),
 (4, 'datadog'),
 (4, 'boostrap'),
 (4, 'mysys'),
 (4, 'pluralsight'),
 (4, 'cron'),
 (4, 'datahub'),
 (4, 'saltstack'),
 (3, 'qliksense'),
 (3, 'spss'),
 (3, 'kubernete'),
 (3, 'xgboost'),
 (3, 'warehouses'),
 (3, 'raspberry'),
 (3, 'cdo'),
 (3, 'uwp'),
 (3, 'stackoverflow'),
 (3, 'flink'),
 (3, 'adserver'),
 (3, 'camel'),
 (3, 'rnn'),
 (3, 'vbscript'),
 (3, 'jms'),
 (3, 'datagrip'),
 (3, 'liquibase'),
 (3, 'grails'),
 (3, 'gerrit'),
 (3, 'celery'),
 (3, 'idl'),
 (3, 'cakephp'),
 (3, 'mageno'),
 (3, 'sklearn'),
 (3, 'datasciences'),
 (3, 'testrails'),
 (3, 'mapbox'),
 (3, 'fasttext'),
 (3, 'intelij'),
 (3, 'debbuging'),
 (3, 'mootools'),
 (3, 'queries'),
 (3, 'websocial'),
 (3, 'debugger'),
 (3, 'reactnative'),
 (3, 'amoe'),
 (3, 'wildfly'),
 (3, 'mdx'),
 (3, 'monogdb'),
 (3, 'refactorer'),
 (3, 'pivotal'),
 (3, 'jwt'),
 (3, 'openvibe'),
 (3, 'lighttpd'),
 (3, 'mssql'),
 (3, 'plsql'),
 (3, 'ssd'),
 (3, 'visio'),
 (3, 'vanillajs'),
 (3, 'microej'),
 (3, 'knox'),
 (3, 'programing'),
 (3, 'aspnet'),
 (3, 'tsql'),
 (3, 'canvas'),
 (3, 'mapreduce'),
 (3, 'motivated'),
 (2, 'mpd'),
 (2, 'datamarts'),
 (2, 'osgi'),
 (2, 'bigqueryml'),
 (2, 'warehousing'),
 (2, 'gdal'),
 (2, 'activemq'),
 (2, 'mysqli'),
 (2, 'springbatch'),
 (2, 'statistical'),
 (2, 'addons'),
 (2, 'couchdb'),
 (2, 'coldfusion'),
 (2, 'epitech'),
 (2, 'sparkml'),
 (2, 'datastudio'),
 (2, 'dataquality'),
 (2, 'portuguese'),
 (2, 'expressjs'),
 (2, 'scaler'),
 (2, 'pgsql'),
 (2, 'dl'),
 (2, 'javaj'),
 (2, 'versionnement'),
 (2, 'biwee'),
 (2, 'vnet'),
 (2, 'openio'),
 (2, 'mockups'),
 (2, 'cloudification'),
 (2, 'sqlite'),
 (2, 'vsphere'),
 (2, 'anchore'),
 (2, 'osx'),
 (2, 'wengo'),
 (2, 'dareboost'),
 (2, 'chinese'),
 (2, 'rasterio'),
 (2, 'netweaver'),
 (2, 'aibuilder'),
 (2, 'marketo'),
 (2, 'snmp'),
 (2, 'ovm'),
 (2, 'statistics'),
 (2, 'datavisualisation'),
 (2, 'hololens'),
 (2, 'sybase'),
 (2, 'cobol'),
 (2, 'yaml'),
 (2, 'dotnetcore'),
 (2, 'zimbra'),
 (2, 'activex'),
 (2, 'postman'),
 (2, 'dplyr'),
 (2, 'symfhony'),
 (2, 'indricks'),
 (2, 'mobx'),
 (2, 'bundling'),
 (2, 'tidyr'),
 (2, 'anlalysis'),
 (2, 'gdpr'),
 (2, 'ltpx'),
 (2, 'knn'),
 (2, 'zendesk'),
 (2, 'scrapings'),
 (2, 'doxygen'),
 (2, 'sqli'),
 (2, 'localstorage'),
 (2, 'readr'),
 (2, 'gitops'),
 (2, 'taln'),
 (2, 'etcd'),
 (2, 'webmapping'),
 (2, 'sqs'),
 (2, 'ntic'),
 (2, 'avro'),
 (2, 'javafx'),
 (2, 'sccm'),
 (2, 'débugages'),
 (1, 'postgresqloutils'),
 (1, 'gitla'),
 (1, 'nextjs'),
 (1, 'qemu'),
 (1, 'virtualbox'),
 (1, 'twimm'),
 (1, 'poltly'),
 (1, 'xslt'),
 (1, 'mangodb'),
 (1, 'contenurisation'),
 (1, 'fetching'),
 (1, 'yml'),
 (1, 'arangodb'),
 (1, 'datarobot'),
 (1, 'emerchandising'),
 (1, 'phileas'),
 (1, 'postgrey'),
 (1, 'coffeescript'),
 (1, 'microdatas'),
 (1, 'hmtl'),
 (1, 'devsecops'),
 (1, 'lazyload'),
 (1, 'jacoco'),
 (1, 'sublimetext'),
 (1, 'datamodel'),
 (1, 'datawarehouses'),
 (1, 'mybatis'),
 (1, 'mathematical'),
 (1, 'appsync'),
 (1, 'dataops'),
 (1, 'elearning'),
 (1, 'dockerisé'),
 (1, 'oroplatform'),
 (1, 'weboob'),
 (1, 'reactstrap'),
 (1, 'multitasking'),
 (1, 'hybernate'),
 (1, 'catia'),
 (1, 'cloudstack'),
 (1, 'alphaview'),
 (1, 'mllib'),
 (1, 'cloudcomputing'),
 (1, 'awsavantages'),
 (1, 'jhipster'),
 (1, 'promisekit'),
 (1, 'webflow'),
 (1, 'econometrics'),
 (1, 'mstest'),
 (1, 'theano'),
 (1, 'jsdom'),
 (1, 'jvm'),
 (1, 'railsversioning'),
 (1, 'geofencing'),
 (1, 'ocr'),
 (1, 'statisticians'),
 (1, 'louyetu'),
 (1, 'soapcomp'),
 (1, 'geojson'),
 (1, 'dropwizard'),
 (1, 'financing'),
 (1, 'jitsi'),
 (1, 'hacmp'),
 (1, 'autoscaling'),
 (1, 'entityframework'),
 (1, 'datalakepour'),
 (1, 'debugging'),
 (1, 'restfull'),
 (1, 'opentsdb'),
 (1, 'rxswift'),
 (1, 'javagv'),
 (1, 'solving'),
 (1, 'stackjava'),
 (1, 'drush'),
 (1, 'preferences'),
 (1, 'multicloud'),
 (1, 'gdb'),
 (1, 'cleanswift'),
 (1, 'rwd'),
 (1, 'pdm'),
 (1, 'firewall'),
 (1, 'multicentre'),
 (1, 'jqueryui'),
 (1, 'cobian'),
 (1, 'ldap'),
 (1, 'bugzilla'),
 (1, 'siem'),
 (1, 'sparkline'),
 (1, 'microframewok'),
 (1, 'psql'),
 (1, 'esx'),
 (1, 'pyhon'),
 (1, 'plotly'),
 (1, 'shellscript'),
 (1, 'processmaker'),
 (1, 'webdesigners'),
 (1, 'jsdéveloppement'),
 (1, 'fhir'),
 (1, 'objc'),
 (1, 'nodesjs'),
 (1, 'hosting'),
 (1, 'multilocale'),
 (1, 'thymeleaf'),
 (1, 'devnodejs'),
 (1, 'wsdl'),
 (1, 'pycharm'),
 (1, 'wampserver'),
 (1, 'dotswift'),
 (1, 'gcloud'),
 (1, 'silverlight'),
 (1, 'semrush'),
 (1, 'rxandroid'),
 (1, 'datadrivenmarketing'),
 (1, 'postegresql'),
 (1, 'netapp'),
 (1, 'sparkr'),
 (1, 'vtom'),
 (1, 'autocad'),
 (1, 'spendesk'),
 (1, 'gpu'),
 (1, 'persévérent'),
 (1, 'dsstne'),
 (1, 'flexbox'),
 (1, 'webscraping'),
 (1, 'vrf'),
 (1, 'zipkin'),
 (1, 'responsivedesign'),
 (1, 'storybook'),
 (1, 'kimayo'),
 (1, 'pushy'),
 (1, 'mpls'),
 (1, 'ddos'),
 (1, 'openvpn'),
 (1, 'telephonie'),
 (1, '_businessanalyst_'),
 (1, 'regex'),
 (1, 'bugfix'),
 (1, 'salesforces'),
 (1, 'reactful'),
 (1, 'opencv'),
 (1, 'stracth'),
 (1, 'likewise'),
 (1, 'openbsd'),
 (1, 'wizaly'),
 (1, 'devopsboard'),
 (1, 'marsteller'),
 (1, 'lumira'),
 (1, 'awsworkflows'),
 (1, 'sqlserveur'),
 (1, 'businessintelligence'),
 (1, 'jenkin'),
 (1, 'procapital'),
 (1, 'openldap'),
 (1, 'salesfroce'),
 (1, 'uikit'),
 (1, 'phpmyadmin'),
 (1, 'géodatabases'),
 (1, 'visualmanagement'),
 (1, 'tsdoc'),
 (1, 'postgressql'),
 (1, 'qlikvieuw'),
 (1, 'datacore'),
 (1, 'isomorphiques'),
 (1, 'webscrapping'),
 (1, 'ksql'),
 (1, 'bootsrap'),
 (1, 'hml'),
 (1, 'msbi'),
 (1, 'mentorship'),
 (1, 'visualstudio'),
 (1, 'rabitmq'),
 (1, 'elephant'),
 (1, 'directx'),
 (1, 'datastage'),
 (1, 'opencl'),
 (1, 'xmetal'),
 (1, 'agilitest'),
 (1, 'hsrp'),
 (1, 'dbpaas'),
 (1, 'rstudio'),
 (1, 'monitoriong'),
 (1, 'stylelint'),
 (1, 'gestform'),
 (1, 'cloudconnaissance'),
 (1, 'rtmp'),
 (1, 'econometry'),
 (1, 'enthusiastic'),
 (1, 'qwamplifyest'),
 (1, 'stochastic'),
 (1, 'typesscript'),
 (1, 'firebird'),
 (1, 'corejava'),
 (1, 'influxdb'),
 (1, 'springsql'),
 (1, 'affinity'),
 (1, 'webanalytics'),
 (1, 'mapinfo'),
 (1, 'preact'),
 (1, 'jshint'),
 (1, 'relational'),
 (1, 'daemons'),
 (1, 'woocomerce'),
 (1, 'graddle'),
 (1, 'shinyr'),
 (1, 'openmp'),
 (1, 'extrapro'),
 (1, 'hiveql'),
 (1, 'apirest'),
 (1, 'scheduler'),
 (1, 'dhcp'),
 (1, 'phptour'),
 (1, '_angular_'),
 (1, 'webdriver'),
 (1, 'xnet'),
 (1, 'ecard'),
 (1, 'réact')]

# Stats

In [14]:
from statistics import mean, stdev

skills_set = set(skills_flatten)

skill_with_stat = []
for s in skillsByOcc:
    #cherche dans la description chaque skill et s'il trouve il renvoie la colonne salaire
    salaries_list_for_current_skill = [se[1] for se in skills_extrated if s[1] in se[2]]
    salaries = []
    #je parcours chaque salaire que j'ai eu et je le mets dans salaire
    for sa in salaries_list_for_current_skill:
        #si c'est un seul entier (salaire fixe) j'ajoute le même pour les deux colonnes
        if type(sa) == int:
            salaries.append(sa)
            salaries.append(sa) #attention biais
        else:
            #s'il y a une borne
            if type(sa) == list:
                salaries.append(sa[0]) #j'ajoute borne 1
                salaries.append(sa[1]) #j'ajoute la borne 2
    #si mon skill n'a pas plus que 10 annonce il l'exclue
    if len(salaries)>10:
        #filtre : enlève les salaires en dessous de 20000
        salaries =  list(filter(lambda x: x > 20000 ,salaries))
        #skill, cherche dans salaire le min, max, std, nb d'annonce qui ont cet skill 
        ecart = max(salaries)- min(salaries)

        skill_with_stat.append([s[1],min(salaries), max(salaries), int(mean(salaries)), int(stdev(salaries)), ecart, len(salaries_list_for_current_skill) ])   
    
    
df_skills_stats = pd.DataFrame(skill_with_stat)

df_skills_stats = df_skills_stats.set_axis(['skill', 'min', 'max', 'mean', 'stdev','plage', 'nb annonces'], axis=1, inplace=False)
df_skills_stats.to_csv("skills_stats_for_dataset_BDD_14_10_2019.csv")
df_skills_stats

                skill    min     max   mean  stdev   plage  nb annonces
0                   c  20160   96000  42310  11222   75840          821
1               agile  20640  120000  45009  12513   99360          650
2          javascript  20640  120000  42147  10894   99360          595
3                 sql  20160  120000  43442  13224   99840          451
4                 php  20160   80000  39827   8864   59840          444
5                html  20160   80000  39908   9936   59840          422
6                 git  20640   96000  41569  10528   75360          399
7                 css  20160   84000  40028   9746   63840          397
8                  js  20160   84000  43972  10673   63840          363
9             angular  20640  120000  43218  11464   99360          343
10                  r  20160  120000  46279  13354   99840          314
11             python  20400  120000  47170  12759   99600          313
12              scrum  21600  120000  45271  12981   98400          300
13          framework  20640   96000  41677  11073   75360          274
14              cloud  22000  120000  46960  12634   98000          267
15              react  21600  120000  45328  12018   98400          265
16              mysql  21408   84000  39860   9325   62592          264
17            symfony  20160   75000  41100   9170   54840          214
18             devops  25000  120000  47196  12301   95000          184
19            jenkins  22800   75000  42876  10073   52200          180
20         postgresql  21408   84000  44464  11474   62592          163
21             jquery  20160   80000  39538  10441   59840          159
22             nodejs  21600   84000  45302  11219   62400          153
23                 ux  25000  100000  43826  12105   75000          146
24                aws  30000   80000  49659  10584   50000          146
25               node  25320   76800  45425  10504   51480          140
26           learning  21600   96000  49883  13654   74400          137
27                crm  21600   90000  44532  14229   68400          126
28         kubernetes  23040   80000  46400  10966   56960          107
29            android  21600  132000  44151  14750  110400          107
..                ...    ...     ...    ...    ...     ...          ...
168                vm  24000   55000  41142  11175   31000            8
169  containerisation  35000   60000  50625   6020   25000            8
170             rspec  35000   65000  51071   9840   30000            8
171        webservice  20640   50000  34942   9256   29360            8
172        backoffice  30000   80000  39416  15281   50000            8
173               svm  30000   60000  42500   9309   30000            8
174             xhtml  20640   42000  31325   8018   21360            8
175         dashboard  26400   55000  43280  10605   28600            8
176          database  23000   96000  43857  23441   73000            7
177          indesign  27000   36000  32000   3366    9000            7
178          symphony  28800   52000  36300   8362   23200            7
179               wms  32000   80000  41785  16455   48000            7
180               arm  30000   54000  42071   8137   24000            7
181             numpy  30000   65000  46614  11637   35000            7
182            opengl  30000   50000  38000   7745   20000            6
183              mqtt  32000   55000  41416   7476   23000            6
184              rgpd  24000  100000  56250  24481   76000            6
185        ecmascript  37000   65000  45750   7955   28000            6
186           jupyter  40700   70000  57760  10241   29300            6
187            rxjava  35000   60000  46250   8103   25000            6
188         openstack  30000   55000  39500   7306   25000            6
189               bpm  24000   55000  39833   9824   31000            6
190           winform  30000   50000  39700   7149   20000            6
191              lstm  30000   60000  44000  11737   30000            6
192        benchmarks  38000   80000  49916  14469   42000            6
193          boosting  40000   90000  68750  18231   50000            6
194              rxjs  37000   50000  44500   5435   13000            6
195              ngrx  40000   60000  47500   7229   20000            6
196            dotnet  30000   60000  44583  10326   30000            6
197               cnn  30000   60000  44000  11737   30000            6

[198 rows x 7 columns]

# Calculer les coef et proba des skills

In [15]:
#calcul des écarts (minimun et maximun général de toutes les skills) de tous les minimuns et de tous les maximuns
ecarts = [d[5] for d in df_skills_stats.values]
min_e = min(ecarts)
max_e = max(ecarts)

#sum de colonne max
sum_max = sum([d[2] for d in df_skills_stats.values])
#sum de colonne min
sum_min =  sum([d[1] for d in df_skills_stats.values])

print(f"plage d'ecart min {min_e}€ max {max_e}€")

#new dataframe final
df_final = df_skills_stats.copy()

#j'ajoute la colonne coef à la position 6
df_final.insert(6, 'coef', [ecart / (max_e - min_e) for ecart in ecarts], True)
#j'ajoute la colonne proba à la position 7
df_final.insert(7, 'proba', [ecart / (sum_max - sum_min) for ecart in ecarts], True)

df_final

plage d'ecart min 9000€ max 110400€

,skill,min,max,mean,stdev,plage,coef,proba,nb annonces
0,c,20160,96000,42310,11222,75840,0.747929,0.007864,821
1,agile,20640,120000,45009,12513,99360,0.979882,0.010303,650
2,javascript,20640,120000,42147,10894,99360,0.979882,0.010303,595
3,sql,20160,120000,43442,13224,99840,0.984615,0.010352,451
4,php,20160,80000,39827,8864,59840,0.590138,0.006205,444
5,html,20160,80000,39908,9936,59840,0.590138,0.006205,422
6,git,20640,96000,41569,10528,75360,0.743195,0.007814,399
7,css,20160,84000,40028,9746,63840,0.629586,0.006620,397
8,js,20160,84000,43972,10673,63840,0.629586,0.006620,363
9,angular,20640,120000,43218,11464,99360,0.979882,0.010303,343
10,r,20160,120000,46279,13354,99840,0.984615,0.010352,314
11,python,20400,120000,47170,12759,99600,0.982249,0.010327,313
12,scrum,21600,120000,45271,12981,98400,0.970414,0.010203,300
13,framework,20640,96000,41677,11073,75360,0.743195,0.007814,274
14,cloud,22000,120000,46960,12634,98000,0.966469,0.010162,267
15,react,21600,120000,45328,12018,98400,0.970414,0.010203,265
16,mysql,21408,84000,39860,9325,62592,0.617278,0.006490,264
17,symfony,20160,75000,41100,9170,54840,0.540828,0.005686,214
18,devops,25000,120000,47196,12301,95000,0.936884,0.009850,184
19,jenkins,22800,75000,42876,10073,52200,0.514793,0.005413,180
20,postgresql,21408,84000,44464,11474,62592,0.617278,0.006490,163
21,jquery,20160,80000,39538,10441,59840,0.590138,0.006205,159
22,nodejs,21600,84000,45302,11219,62400,0.615385,0.006470,153
23,ux,25000,100000,43826,12105,75000,0.739645,0.007777,146
24,aws,30000,80000,49659,10584,50000,0.493097,0.005184,146
25,node,25320,76800,45425,10504,51480,0.507692,0.005338,140
26,learning,21600,96000,49883,13654,74400,0.733728,0.007714,137
27,crm,21600,90000,44532,14229,68400,0.674556,0.007092,126
28,kubernetes,23040,80000,46400,10966,56960,0.561736,0.005906,107
29,android,21600,132000,44151,14750,110400,1.088757,0.011447,107
...,...,...,...,...,...,...,...,...,...
168,vm,24000,55000,41142,11175,31000,0.305720,0.003214,8
169,containerisation,35000,60000,50625,6020,25000,0.246548,0.002592,8
170,rspec,35000,65000,51071,9840,30000,0.295858,0.003111,8
171,webservice,20640,50000,34942,9256,29360,0.289546,0.003044,8
172,backoffice,30000,80000,39416,15281,50000,0.493097,0.005184,8
173,svm,30000,60000,42500,9309,30000,0.295858,0.003111,8
174,xhtml,20640,42000,31325,8018,21360,0.210651,0.002215,8
175,dashboard,26400,55000,43280,10605,28600,0.282051,0.002966,8
176,database,23000,96000,43857,23441,73000,0.719921,0.007569,7
177,indesign,27000,36000,32000,3366,9000,0.088757,0.000933,7
178,symphony,28800,52000,36300,8362,23200,0.228797,0.002406,7
179,wms,32000,80000,41785,16455,48000,0.473373,0.004977,7
180,arm,30000,54000,42071,8137,24000,0.236686,0.002489,7
181,numpy,30000,65000,46614,11637,35000,0.345168,0.003629,7
182,opengl,30000,50000,38000,7745,20000,0.197239,0.002074,6
183,mqtt,32000,55000,41416,7476,23000,0.226824,0.002385,6
184,rgpd,24000,100000,56250,24481,76000,0.749507,0.007880,6
185,ecmascript,37000,65000,45750,7955,28000,0.276134,0.002903,6
186,jupyter,40700,70000,57760,10241,29300,0.288955,0.003038,6
187,rxjava,35000,60000,46250,8103,25000,0.246548,0.002592,6
188,openstack,30000,55000,39500,7306,25000,0.246548,0.002592,6
189,bpm,24000,55000,39833,9824,31000,0.305720,0.003214,6
190,winform,30000,50000,39700,7149,20000,0.197239,0.002074,6
191,lstm,30000,60000,44000,11737,30000,0.295858,0.003111,6
192,benchmarks,38000,80000,49916,14469,42000,0.414201,0.004355,6
193,boosting,40000,90000,68750,18231,50000,0.493097,0.005184,6
194,rxjs,37000,50000,44500,5435,13000,0.128205,0.001348,6
195,ngrx,40000,60000,47500,7229,20000,0.197239,0.002074,6
196,dotnet,30000,60000,44583,10326,30000,0.295858,0.003111,6
197,cnn,30000,60000,44000,11737,30000,0.295858,0.003111,6

In [16]:
#vérification de la proba
col_proba = [d[7] for d in df_final.values]
sum_pro = sum(col_proba)
sum_pro

1.0000000000000002

# Tableau avec 'salaire pertinant' (salaire prédit) en fonction des skills trouvés

In [17]:
#nouveau dataframe avec la colonne 'salary' et 'skills trouvés' dans skills_extracted
df_data = pd.DataFrame([[l[1], l[2]] for l in skills_extrated])
#je rajoute les titres des colonnes
df_data = df_data.set_axis(['salary', 'skills'], axis=1, inplace=False)

def predict_salary(row):
    #dans les stats de skills je cherche les skills qui ont été trouvés dans l'annonce dans le row en cours et récupère le coef correspondant au skill
    coef_avg = df_final.loc[df_final['skill'].isin(list(row.skills)), ['coef']].mean().values[0]
    
    if(not np.isnan(coef_avg) and type(row.salary)==list):
        return int((row.salary[1]-row.salary[0]) * coef_avg + row.salary[0])
    else:
        return row.salary #je fais quoi quand c'est une fourchette?
       
    
    

df_data['prediction'] = df_data.apply(lambda ligne: predict_salary(ligne) , axis=1)

#ternary operator(if en une ligne)
#j'ajoute colonne moyenne de la fourchette salary
# et je calcule moyenne de salary si le type est une liste, sinon juste le salaire
df_data['avg_salaire'] = df_data.apply(lambda l: int((l.salary[1]+l.salary[0])/2 if type(l.salary)==list else l.salary) , axis=1)

df_data

,salary,skills,prediction,avg_salaire
0,40000,"{workflows, r, learning, statistique, shiny, p...",40000,40000
1,"[30000, 40000]","{ux, r, numpy, learning, pandas, computing, fr...",36421,35000
2,"[30000, 50000]","{r, learning, pandas, html, rnn, c, statistiqu...",42954,40000
3,40000,"{r, workflows, learning, statistique, shiny, p...",40000,40000
4,"[30000, 50000]","{r, learning, pandas, html, rnn, c, statistiqu...",42954,40000
5,"[30000, 45000]","{scrum, scripting, cloud, perl}",41072,37500
6,20160,"{etl, c, sql, r}",20160,20160
7,44000,"{cloudera, ia, hadoop, spark}",44000,44000
8,"[32000, 45000]","{scrum, cloud, learning, c, agile, javascript,...",43728,38500
9,"[40000, 50000]","{node, autoscaling, cloud, react, aws, javascr...",48090,45000
10,"[22000, 28000]","{erp, html, c, agile, css}",26045,25000
11,"[40000, 50000]","{arm, network, android, r, microej, mqtt, c}",46017,45000
12,30000,"{c, postgre, php, mysql}",30000,30000
13,35000,"{poo, c, sgbd, php, mysql, agile, python, moe}",35000,35000
14,40000,"{jquery, hibernate, mvc, js, agile, angular}",40000,40000
15,"[35000, 50000]","{network, jira, android, r, microej, mqtt, amq...",43915,42500
16,"[40000, 55000]","{android, r, microej, mqtt, javafx, git, amqp,...",49929,47500
17,"[37000, 40000]","{javascript, angular, js, agile, framework, vu...",39267,38500
18,"[33000, 38000]","{node, html, javascript, postgresql, react, fr...",36645,35500
19,"[33000, 40000]","{javascript, css, mysql}",38195,36500
20,27000,"{jquery, html, javascript, boostrap, framework...",27000,27000
21,"[34000, 40000]","{scrum, scala, agile}",39123,37000
22,"[35000, 45000]","{kubernetes, devops, symfony}",41798,40000
23,"[40000, 50000]","{ux, html, crm, php, js, css, etl}",46573,45000
24,"[35000, 45000]","{javascript, c, angular, agile}",44218,40000
25,"[35000, 45000]","{react, selenium, cloud, php}",42234,40000
26,"[35000, 43000]","{node, react, git, c, js, agile, javascript, c...",41146,39000
27,"[35000, 43000]","{react, c, js, agile, javascript}",41892,39000
28,40000,"{jquery, hibernate, mvc, js, agile, angular}",40000,40000
29,"[20000, 40000]","{html, cloud, javascript, angularjs, c, scrum,...",33685,30000
...,...,...,...,...
2082,8400,"{drupal, debian, wordpress, aws, wget, symfony...",8400,8400
2083,50000,"{node, android, react, flask, js, mongodb, pyt...",50000,50000
2084,14400,"{nlp, kubernetes, learning, git, bash, js, fra...",14400,14400
2085,"[38000, 42000]","{cloud, qemu, c, mysql, nodejs, framework, vm,...",40843,40000
2086,"[40000, 45000]","{webdev, sql}",42954,42500
2087,"[30000, 35000]","{scrum, jquery, html, responsive, drupal, xhtm...",33043,32500
2088,19200,"{laravel, elasticsearch, php, mysql, framework...",19200,19200
2089,45000,"{r, c, ia, python, django}",45000,45000
2090,22800,"{redux, html, jira, angular, sass, git, c, agi...",22800,22800
2091,"[45000, 60000]","{jquery, react, weblogic, js, scrum, devops, o...",56574,52500
2092,"[35000, 45000]","{qml, matlab, git, c, agile, framework, python}",43392,40000
2093,"[30000, 50000]","{network, laravel, android, symfony, c, php, s...",40038,40000
2094,40000,"{html, network, android, symfony, drupal, git,...",40000,40000
2095,"[40000, 65000]","{qliksense, scripting, datastage, r, learning,...",57316,52500
2096,14400,"{nlp, r, flask, chatbot, learning, analytics, ...",14400,14400
2097,12600,"{pipedrive, crm}",12600,12600
2098,14400,"{powerpoint, datastudio, bigquery}",14400,14400
2099,"[43000, 46000]",{powerpoint},44094,44500
2100,63000,"{erp, c}",63000,63000
2101,"[90000, 100000]",{analytics},97001,95000
2102,54000,"{scrum, cloudera, ml, bdd, learning, scikit, s...",54000,54000
2103,13200,"{etl, c, warehouse, scrum, python, postgresql,...",13200,13200
2104,"[35000, 45000]","{erp, cloud, sap}",42222,40000
2105,"[30000, 33000]",{sourcing},31834,31500
2106,"[40000, 45000]","{erp, lumira, shellscript, git, sql, vbscript,...",43507,42500
2107,12000,"{crm, c, datalake, btob}",12000,12000
2108,"[40000, 60000]","{c, trading, r}",56520,50000
2109,"[45000, 55000]","{erp, cloud, sap}",52222,50000
2110,96000,"{reportings, etl, scripting, sql}",96000,96000
2111,25200,"{german, motivated}",25200,25200